.discography-items {
  @include flex(start, center);
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 48px;
  margin-bottom: 125px;
}

.discography-item {
  margin-bottom: -25px;

  & img {
    width: 100%;
  }

  & span {
    display: block;
    text-align: left;
  }
}

.discography-item__img {
  width: 250px;
  margin-bottom: 12px;
}
