.prices {
    margin-top: 102px;
}

.prices__items {
    width: 100%;
    margin: 48px 0 43px;

    @include flex(space-between, center);
    gap: 50px;
}

.price {
    min-width: 366px;
    text-align: center;
    border-radius: 16px;
    padding: 16px 25px 64px;

   & button {
    width: 100%;

    @include font(16px, 400, 24px, center);
    text-transform: uppercase;
    color: $white;
    border: 1px solid $white;
    border-radius: 5px;
    padding: 20px;
    background: transparent;
   }

   & h3 {
    margin-bottom: 198px;
   }
}

.bg-free {
    background-image: url('../img/bgFree.png');
    background-position: center;
    background-size: cover;
}

.bg-standart {
    background-image: url('../img/bgStandart.png');
    background-position: center;
    background-size: cover;
}

.bg-premium {
    background-image: url('../img/bgPremium.png');
    background-position: center;
    background-size: cover;
}

.price__value {
    margin-bottom: 38px;
    text-transform: uppercase;
    vertical-align: top;

    @include font(64px, 400, 64px, center);

    span:last-child {
        vertical-align: top;

        @include font(32px, 400, 44px, center);        
    }
}

.price__info {
    display: block;

    @include font(13px, 400, 19px, center);
    margin-top: 64px;
}


.prices__footer {
    @include font(16px, 400, 24px, center);
}




