$wrap: 1440px;
$container: 1240px;
$marg: 0 auto;
$white: #fff;
$black: #08020d;
$grey-light: #e0e0e0;
$grey: #cacaca;
$grey-dark: #757575;
$dark: #3c3b3d;
$green: #34c176;
$orange: #f89202;
$purple: #5328a1;
$red: #95390c;
$main-font: "Roboto", sans-serif;
$line-height: 1.5;

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin font($fs, $fw, $lh, $ta) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  text-align: $ta;
}

body {
  background: $black;
  margin: $marg;

  @include font(16px, 400, 24px, center);
  font-family: $main-font;
  color: $white;
}

.wrapper {
  position: relative;
  max-width: $wrap;
  margin: $marg;
}

.container {
  position: relative;
  max-width: $container;
  margin: $marg;
  padding: 0 20px;
}

h1 {
  @include font(60px, 700, 90px, center);
  text-transform: uppercase;
}

h2 {
  @include font(38px, 700, 57px, center);
  text-transform: uppercase;
}

h3 {
  @include font(24px, 400, 45px, center);
  text-transform: uppercase;
}

h4 {
  @include font(18px, 700, 27px, left);
}

.text-small {
  @include font(12.8px, 400, 19.2px, left);
}

.text-small-bold {
  @include font(12.8px, 700, 19.2px, left);
  text-transform: uppercase;
}

.artists h2 {
  text-align: left;
}
