@media (width <= 414px) {
    h1 {
        font-size: 30px;
        line-height: 45px;
    }
    
    h2 {
        font-size: 18px;
        line-height: 27px;
    }

    h3 {
        @include font(16px, 700, 24px, center)
    }


    .header {
        @include font(11px, 700, 13px, left);
        flex-direction: column;
        align-items: start;
        gap: 18px;
    }

    
    .header__logolinks {
        flex-direction: column;
        align-items: start;
        gap: 17px;
    }
    
    .header__links {
        flex-direction: column;
        gap: 3px;
    }
    
    .header__input {
        width: 100%;
    }

    .description {
        padding: 248px 0 200px;
    }

    .description__infotext {
        margin: 16px;
    }

    .description__form {
        max-width: 374px;
    }

    .description__form-inputs {
        flex-direction: column;
    }
    
    .description__form-input {
        min-width: 374px;
    }

    .prices__items {
        flex-direction: column;
    }


    .price {
        padding: 12px 25px 64px;
    
        & h3 {
            margin-bottom: 205px;
           }
    }

    .news__items {
        & > :last-child {
            flex-direction: column-reverse;
        }
    }

    .news-item {
    flex-direction: column;
    }

    .news-item__body {
        & h3 {
            @include font(16px, 400, 24px, left);
            margin-bottom: 16px;
        }
    
    }

    .app-data {
        width: 100%;
        align-items: center;
        flex-direction: column-reverse;
        gap: 0;
    }

    .footer-menu {
        flex-direction: column;
        gap: 30px;
    }

    .footer-menu__width {
        flex-basis: 0;
    }

    .footer-low-menu {
        align-items: flex-start;
        flex-direction: column;        
    }

}
