.top-0 {
  top: 0;
}

.top-25 {
  top: 25px;
}

.top-200 {
  top: 200px;
}

.m-top-15 {
  margin-top: 15px;
}

.m-top-100 {
  margin-top: 100px;
}

.m-top-125 {
  margin-top: 125px;
}

.bg-purple {
  background: $purple;
}

.bg-red {
  background: $red;
}
